.input-item {
  padding: 5px 10px;
  outline: none;
  border: 1px solid #212529;
  border-radius: 5px;
}
.filter-item {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  padding-bottom: 25px;
  min-width: 100px;
}

.filter-item.active {
  color: #13c56b;
  border-bottom: 1px solid #13c56b;
}
.filter-item p {
  margin-bottom: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.model-edit {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: calc(100vh - 120px);
  background-color: #fff;
  border-radius: 8px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow-y: auto;
}

.model-edit.active {
  opacity: 1;
  transform: translate(-50%, 0);
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
