.comment-wrapper .comment-wrapper__inner {
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
.comment-wrapper__inner .comment-post .comment-post__inner,
.comment-wrapper__inner .comment-reply .comment-asked {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(60, 64, 67, 0.1),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
